<% content_for :og_meta do  %>
  <meta property="fb:app_id"      content="267286263291604">
  <meta property="og:type"        content="website">
  <meta property="og:url"         content="http://www.resty.co.kr">
  <meta property="og:title"       content="새로운 펜션 검색, 레스티">
  <meta property="og:description" content="좋은 펜션을 찾는 가장 빠른 방법! 레스티에 없으면 대한민국에 없다! 10,000개가 넘는 펜션정보를 만나보세요!">
  <meta property="og:image"       content="http://www.resty.co.kr/logo.gif">
<% end %>

<div id="main-category">
  <table>
    <% 0.upto(@areas.size / 2 - 1) do |i| %>
	  <tr>
	    <td>
	      <% area = @areas[i*2] %>
	      <%= link_to content_tag(:span, area.title, :class => 'local'), area_pensions_path(area) %>
	      <%= content_tag(:span, "(#{number_with_delimiter area.pensions_count})", :class => 'num') %>
  		  <br />
  		  <% area.sub_areas.main.each_with_index do |sub_area, idx| %>
  		    <%= link_to sub_area.title, sub_area_pensions_path(sub_area) %><%= ',' if idx < area.sub_areas.main.count - 1 %>
  		  <% end %>
		  </td>
		  <td>
		    <% area = @areas[i*2+1] %>
		    <%= link_to content_tag(:span, area.title, :class => 'local'), area_pensions_path(area) %>
		    <%= content_tag(:span, "(#{number_with_delimiter area.pensions_count})", :class => 'num') %>
  		  <br />
  		  <% area.sub_areas.main.each_with_index do |sub_area, idx| %>
  		    <%= link_to sub_area.title, sub_area_pensions_path(sub_area) %><%= ',' if idx < area.sub_areas.main.count - 1 %>
  		  <% end %>
  		</td>
    </tr>
    <% end %>
	</table>    
</div>

<div id="tabs" class="tab1">
  <ul id="buttons">
    <li><%= link_to '', '#', :onclick => "tab1_click()", :class => 'tab1 over' %></li>
    <li><%= link_to '', '#', :onclick => "tab2_click()", :class => 'tab2' %></li>
  </ul>
  <div id="resty-focus">
    <ul class="notice">
    <% @notices.each do |notice| %>
      <li class="<%= cycle('odd', 'even') %>"><%= link_to truncate(notice.title, :length => 30), notice.link, :target => '_blank' %></li>
    <% end %>
    </ul>
    <span class="coupon-title"><%= link_to image_tag('social_commerce.png', :alt => '펜션 소셜커머스'), pensions_path(:coupon => true) %></span>
    <span class="more-coupon"><%= link_to "더보기(#{Coupon.ing.count}개)", pensions_path(:coupon => true) %></span>
    <ul class="discount">
    <% @coupons.each do |coupon| %>
      <li class="<%= cycle('odd', 'even') %>">
        <%= link_to truncate("[#{coupon.pension.sub_area.title}] #{coupon.pension.title}", :length => 20), coupon.pension %>
        <span class="disrate"><%= coupon.disrate %>%</span>
        <span class="expiry">~<%= "#{coupon.end_at.month}월 #{coupon.end_at.day}일" %></span>
      </li>
    <% end %>
    </ul>
    <div class="fb-like" data-href="www.resty.co.kr" data-send="false" data-width="340" data-show-faces="true"></div>
  </div>
  <div id="activities">
    <div class="pensions">
      <div class="fb-activity" data-site="resty.co.kr" data-app-id="267286263291604" data-width="350" data-height="216" data-header="false" data-border-color="white" data-filter="/pensions" data-linktarget="_top"></div>
    </div>
    <div class="spots">
      <div class="fb-activity" data-site="resty.co.kr" data-app-id="267286263291604" data-width="350" data-height="184" data-header="false" data-border-color="white" data-filter="/spots" data-linktarget="_top"></div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8" src="/assets/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" charset="utf-8">
  $(window).load(function() {
  	$('#slider').nivoSlider({
  	  effect: 'fold,fade,slideInRight,slideInLeft,boxRandom,boxRain,boxRainReverse,boxRainGrow,boxRainGrowReverse',
  	  animSpeed: 700,
  	  pauseTime: 4000,
  	  controlNav: false
  	});
  });
  function tab1_click() {
    $('#resty-focus').show();
    $('.tab1').addClass('over');
    $('#activities').hide();
    $('.tab2').removeClass('over');
    $('#tabs').addClass('tab1');
    $('#tabs').removeClass('tab2');
  }
  function tab2_click() {
    $('#resty-focus').hide();
    $('.tab1').removeClass('over');
    $('#activities').show();
    $('.tab2').addClass('over');
    $('#tabs').addClass('tab2');
    $('#tabs').removeClass('tab1');
  }
</script>
<div id="main-must-visit">
  <%= link_to content_tag(:div, '', :id => 'main-must-visit-title'), pensions_path(:must_visit => true) %>
  <div id="slider" class="nivoSlider" style="width:352px;height:265px;">
  <% @must_visits.each do |mv| %>
    <%= link_to image_tag("http://www.resty.co.kr#{mv.img.url}", :title => "[#{mv.pension.sub_area.title}] #{mv.pension.title}"), pension_path(mv.pension) %>
  <% end %>
  </div>
</div>

<div id="main-themes">
  <ul>
  <% @themes.each_with_index do |theme, idx| %>
    <li><%= link_to content_tag(:div, theme.title, :class => "theme_#{idx+1}"), theme_pensions_path(theme) %></li>
  <% end %>
  </ul>
</div>

<div id="main-landmarks">
  <ul>
  <% @spots.each do |spot| %>
    <li>
      <%= "[#{spot.sub_area.title}]" %> <%= link_to spot.title, spot %> (<%= spot.pensions_count <= 10? spot.sub_area.pensions_count : spot.pensions_count %>)
      <%= content_tag :span, 'season', :class => 'season' if spot.is_season %>
    </li>
  <% end %>
  </ul>
</div>