<div id="main-category">
  <table>
	  <tr>
	    <td>
		    <a href="../pensions/index.html" class="underline"><span class="local">경기도</span> <span class="num">(1988)</span></a>
  		  <br />
  		  <a href="../pensions/index.html">가평</a>,
  		  <a href="../pensions/index.html">양평</a>,
  		  <a href="../pensions/index.html">포천</a>,
  		  <a href="../pensions/index.html">제부도</a>,
  		  <a href="../pensions/index.html">대부도</a>,
  		  <a href="../pensions/index.html">용인</a>,
  		  <a href="../pensions/index.html">남양주</a>
		  </td>
		  <td>
		    <a href="../pensions/index.html" class="underline"><span class="local">강원도</span> <span class="num">(1988)</span></a>
  		  <br />
  		  <a href="../pensions/index.html">평창</a>,
  		  <a href="../pensions/index.html">흥천</a>,
  		  <a href="../pensions/index.html">양양</a>,
  		  <a href="../pensions/index.html">강릉</a>,
  		  <a href="../pensions/index.html">춘천</a>,
  		  <a href="../pensions/index.html">속초</a>,
  		  <a href="../pensions/index.html">남이섬</a>
  		</td>
    </tr>
	  <tr>
	    <td>
		    <a href="../pensions/index.html" class="underline"><span class="local">경기도</span> <span class="num">(1988)</span></a>
  		  <br />
  		  <a href="../pensions/index.html">가평</a>,
  		  <a href="../pensions/index.html">양평</a>,
  		  <a href="../pensions/index.html">포천</a>,
  		  <a href="../pensions/index.html">제부도</a>,
  		  <a href="../pensions/index.html">대부도</a>,
  		  <a href="../pensions/index.html">용인</a>,
  		  <a href="../pensions/index.html">남양주</a>
  		</td>
		  <td>
		    <a href="../pensions/index.html" class="underline"><span class="local">강원도</span> <span class="num">(1988)</span></a>
  		  <br />
  		  <a href="../pensions/index.html">평창</a>,
  		  <a href="../pensions/index.html">흥천</a>,
  		  <a href="../pensions/index.html">양양</a>,
  		  <a href="../pensions/index.html">강릉</a>,
  		  <a href="../pensions/index.html">춘천</a>,
  		  <a href="../pensions/index.html">속초</a>,
  		  <a href="../pensions/index.html">남이섬</a>
  		</td>
    </tr>
	  <tr>
	    <td>
		    <a href="../pensions/index.html" class="underline"><span class="local">경기도</span> <span class="num">(1988)</span></a>
  		  <br />
  		  <a href="../pensions/index.html">가평</a>,
  		  <a href="../pensions/index.html">양평</a>,
  		  <a href="../pensions/index.html">포천</a>,
  		  <a href="../pensions/index.html">제부도</a>,
  		  <a href="../pensions/index.html">대부도</a>,
  		  <a href="../pensions/index.html">용인</a>,
  		  <a href="../pensions/index.html">남양주</a>
  		</td>
		  <td>
  		  <a href="../pensions/index.html" class="underline"><span class="local">강원도</span> <span class="num">(1988)</span></a>
  		  <br />
  		  <a href="../pensions/index.html">평창</a>,
  		  <a href="../pensions/index.html">흥천</a>,
  		  <a href="../pensions/index.html">양양</a>,
  		  <a href="../pensions/index.html">강릉</a>,
  		  <a href="../pensions/index.html">춘천</a>,
  		  <a href="../pensions/index.html">속초</a>,
  		  <a href="../pensions/index.html">남이섬</a>
  		</td>
    </tr>
	  <tr>
	    <td>
		    <a href="../pensions/index.html" class="underline"><span class="local">경기도</span> <span class="num">(1988)</span></a>
  		  <br />
  		  <a href="../pensions/index.html">가평</a>,
  		  <a href="../pensions/index.html">양평</a>,
  		  <a href="../pensions/index.html">포천</a>,
  		  <a href="../pensions/index.html">제부도</a>,
  		  <a href="../pensions/index.html">대부도</a>,
  		  <a href="../pensions/index.html">용인</a>,
  		  <a href="../pensions/index.html">남양주</a>
  		</td>
		  <td>
  		  <a href="../pensions/index.html" class="underline"><span class="local">강원도</span> <span class="num">(1988)</span></a>
  		  <br />
  		  <a href="../pensions/index.html">평창</a>,
  		  <a href="../pensions/index.html">흥천</a>,
  		  <a href="../pensions/index.html">양양</a>,
  		  <a href="../pensions/index.html">강릉</a>,
  		  <a href="../pensions/index.html">춘천</a>,
  		  <a href="../pensions/index.html">속초</a>,
  		  <a href="../pensions/index.html">남이섬</a>
  		</td>
    </tr>
	  <tr>
	    <td>
		    <a href="../pensions/index.html" class="underline"><span class="local">경기도</span> <span class="num">(1988)</span></a>
  		  <br />
  		  <a href="../pensions/index.html">가평</a>,
  		  <a href="../pensions/index.html">양평</a>,
  		  <a href="../pensions/index.html">포천</a>,
  		  <a href="../pensions/index.html">제부도</a>,
  		  <a href="../pensions/index.html">대부도</a>,
  		  <a href="../pensions/index.html">용인</a>,
  		  <a href="../pensions/index.html">남양주</a>
  		</td>
		  <td>
  		  <a href="../pensions/index.html" class="underline"><span class="local">강원도</span> <span class="num">(1988)</span></a>
  		  <br />
  		  <a href="../pensions/index.html">평창</a>,
  		  <a href="../pensions/index.html">흥천</a>,
  		  <a href="../pensions/index.html">양양</a>,
  		  <a href="../pensions/index.html">강릉</a>,
  		  <a href="../pensions/index.html">춘천</a>,
  		  <a href="../pensions/index.html">속초</a>,
  		  <a href="../pensions/index.html">남이섬</a>
  		</td>
    </tr>
	</table>    
</div>

<div id="main-facebook-activities"></div>

<div id="main-facebook-landmarks"></div>

<div id="main-must-visit">
  <div id="main-must-visit-title"></div>
  <ul>
  <% @must_visits.each do |mv| %>
    <li><%= link_to mv.pension.title, pension_path(mv.pension) %></li>
  <% end %>
  </ul>
</div>

<div id="main-themes">
  <ul>
  <% @themes.each do |theme| %>
    <li><%= link_to theme.title, theme_pensions_path(theme) %>(<%= theme.pensions_count %>)</li>
  <% end %>
  </ul>
</div>

<div id="main-landmarks">
  <ul>
  <% @spots.each do |spot| %>
    <li><%= link_to spot.title, spot %>(<%= spot.pensions_count %>)</li>
  <% end %>
  </ul>
</div>

<div id="area_list">
  <ul>
    <% @addrs.each do |addr| %>
    <li>
      <h3><%= link_to addr, pensions_path(:addr1 => addr) %>(<%= Pension.by_addr1(addr).count %>개)<h3>
        <p>
          <% Pension.sub_addrs(addr).each do |sub_addr| %>
          <%= link_to sub_addr, pensions_path(:addr1 => addr, :addr2 => sub_addr) %>
          <% end %>
        </p>
    </li>
    <% end %>
  </ul>
</div>
