<div id="main-category">
  <table>
    <% 0.upto(@areas.size / 2 - 1) do |i| %>
	  <tr>
	    <td style="width:297px;">
	      <% area = @areas[i*2] %>
	      <%= link_to content_tag(:span, area.title, :class => 'local'), area_pensions_path(area) %>
	      <%= content_tag(:span, "(#{area.pensions_count})", :class => 'num') %>
  		  <br />
  		  <% area.sub_areas.main.each_with_index do |sub_area, idx| %>
  		    <%= link_to sub_area.title, sub_area_pensions_path(sub_area) %><%= ',' if idx < area.sub_areas.size - 1 %>
  		  <% end %>
		  </td>
		  <td style="width:297px;">
		    <% area = @areas[i*2+1] %>
		    <%= link_to content_tag(:span, area.title, :class => 'local'), area_pensions_path(area) %>
		    <%= content_tag(:span, "(#{area.pensions_count})", :class => 'num') %>
  		  <br />
  		  <% area.sub_areas.main.each_with_index do |sub_area, idx| %>
  		    <%= link_to sub_area.title, sub_area_pensions_path(sub_area) %><%= ',' if idx < area.sub_areas.size - 1 %>
  		  <% end %>
  		</td>
    </tr>
    <% end %>
	</table>    
</div>

<div id="main-facebook-activities" class="fb-logout"></div>

<div id="main-facebook-landmarks" class="fb-logout"></div>

<div id="main-must-visit">
  <div id="main-must-visit-title"></div>
  <ul>
  <% @must_visits.each do |mv| %>
    <li><%= link_to mv.pension.title, pension_path(mv.pension) %></li>
  <% end %>
  </ul>
</div>

<div id="main-themes">
  <ul>
  <% @themes.each_with_index do |theme, idx| %>
    <li><%= link_to content_tag(:div, theme.title, :class => "theme_#{idx+1}"), theme_pensions_path(theme) %></li>
  <% end %>
  </ul>
</div>

<div id="main-landmarks">
  <ul>
  <% @spots.each do |spot| %>
    <li><%= "[#{spot.sub_area.title}]" %> <%= link_to spot.title, spot %> (<%= spot.pensions_count %>)</li>
  <% end %>
  </ul>
</div>