<div id="main-bg">
  <div class="content">
    <div class="logo align-center">
      <%= image_tag 'mobile/main_logo.png' %>
    </div>
    <div class="ui-bar" id="search_box">
      <%= form_tag search_result_path, :method => :post, 'data-ajax' => false do %>
        <%= hidden_field_tag 'address' %>
        <%= hidden_field_tag 'longitude' %>
        <%= hidden_field_tag 'latitude' %>
      <% end %>
      <input type="search" name="search_input" id="search_input" placeholder="지역,펜션,여행지명으로 검색하세요." />
    </div>
    <%= link_to '소셜커머스 펜션 보기', pensions_path(:coupon => true), 'data-role' => 'button', 'data-icon' => 'star', :class => 'green full-btn' %>
    <table id="main-btn">
      <tbody>
        <tr>
          <td class="first"><%= link_to raw("지역별<br>펜션찾기"), areas_path, 'data-role' => 'button', 'data-theme' => 'r' %></td>
          <td class="last"><%= link_to raw('여행지별<br>펜션찾기'), areas_path(:search => 'spot'), 'data-role' => 'button', 'data-theme' => 'r' %></td>
        </tr>
        <tr>
          <td class="first"><%= link_to raw('테마별<br>펜션찾기'), themes_path, 'data-role' => 'button', 'data-theme' => 'r' %></td>
          <td class="last"><%= link_to raw('MUST VISIT<br>BY RESTY'), pensions_path(:must_visit => true), 'data-role' => 'button', 'data-theme' => 'r' %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>