<div class="sort">
  <span class="more-pensions"><%= link_to "#{@spot.title} 주변 펜션 더보기...", spot_pensions_path(@spot) %></span>
</div>

<div class="list">
<% @pensions.each do |pension| %>
  <div id="pension-<%= pension.id %>" class="pension-item">
    <%= content_tag :span, 'must-visit-mark', :class => 'must-visit-mark' if params[:must_visit] or pension.must_visit %>
    <%= content_tag :span, "#{pension.coupon.disrate}%", :class => 'discount-mark' if pension.coupon %>
  	<div class="line-dotted"></div>
  	<div class="left">
  		<div class="pension-thumbnail">
  		  <%= link_to image_tag(pension.list_img), pension %>
  		</div>
  		<div class="pension-info">
        <div class="pension-name">
          <%= link_to pension.title, pension %>
          <% if pension.like_count > 0 %>
            <span class="fb_like"><%= image_tag('like_resty.png', :width => '20px') %> <%= pension.like_count %></span>
          <% end %>
        </div>
        <% unless pension.roomstructure.blank? %>
          <div class="pension-type"><strong>용도:</strong> <%= pension.roomstructure %></div>
        <% end %>
        <% if pension.themes.count > 0 %>
          <div class="pension-theme">
            <% pension.themes.each do |theme| %>
              <%= image_tag("theme_icon_#{theme.id}.png", :width => '25px', :title => theme.title) %>
            <% end %>
          </div>
        <% end %>
        <% unless pension.facilities.blank? %>
          <div class="pension-faci"><strong>시설:</strong> <%= pension.facilities %></div>
        <% end %>
  		</div>
  	</div>
  	<div class="right">
  		<div class="pension-addr" title="<%= pension.addr %>"><%= pension.short_addr %></div>
  		<div class="pension-price">
  		  <%= number_with_delimiter(pension.min_price) %>원 ~ <%= number_with_delimiter(pension.max_price) %>원
  		</div>
  		<div class="pension-review">
  			<span class="pension-review-count"><%= pension.comments_count %></span>
  			<%= link_to '리뷰/후기', pension %>
  			<span class="pension-detail">
  				<%= link_to '상세보기', pension %>
  			</span>
  		</div>
  	</div>
  </div>
<% end %>
</div>
<div class="line-dotted"></div>
