<div class="sort">
  <span class="more-pensions"><%= link_to "#{@spot.title} 주변 펜션 더보기...", spot_pensions_path(@spot) %></span>
</div>

<div class="list">
<% @pensions.each do |pension| %>
  <div id="pension-<%= pension.id %>" class="pension-item">
    <%= content_tag :span, 'must-visit-mark', :class => 'must-visit-mark' if params[:must_visit] or pension.must_visit %>
  	<div class="line-dotted"></div>
  	<div class="left">
  		<div class="pension-thumbnail">
  		  <%= link_to image_tag(pension.list_img), pension %>
  		</div>
  		<div class="pension-name"><%= link_to pension.title, pension %></div>
  		<span class="fb_like">좋아요</span>
  		<div class="pension-type">커플, 가족, 모임, 워크샵</div>
  		<div class="pension-theme"><%= pension.themes.collect {|x| x.title}.join(',') %></div>
  		<div class="pension-faci"><%= pension.facilities %></div>
  	</div>
  	<div class="right">
  		<div class="pension-addr" title="<%= pension.addr %>"><%= pension.short_addr %></div>
  		<div class="pension-price">
  		  <%= number_with_delimiter(pension.min_price) %>원 ~ <%= number_with_delimiter(pension.max_price) %>원
  		</div>
  		<div class="pension-review">
  			<span class="pension-review-count"><%= pension.comments_count %></span>
  			<%= link_to '리뷰/후기', pension %>
  			<span class="pension-detail">
  				<%= link_to '상세보기', pension %>
  			</span>
  		</div>
  	</div>
  </div>
<% end %>
</div>
<div class="line-dotted"></div>
