<div id="sidebar">
  <%= render 'show_sidebar' %>
</div>

<div id="main_content">
  <div class="header">
    <%= render 'header' %>
  </div>
  <div id="show-content">
    <div class="title">
      <h2><%= @spot.title %></h2>
      <div class="fb-like" data-href="<%= request.url %>" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
      <%= link_to '관련사이트 바로가기', @spot.url, :target => '_blank' %>
    </div>
    <div class="line-green"></div>
    <div class="body">
      <div id="spot-info-sum"><%= @spot.description %></div>
      <div id="spot-info-addr"><%= @spot.addr %></div>
      <div id="spot-info-phone"><%= @spot.phone %></div>
      <div id="spot-info-start">
        <div id="findway-box">
          <input type="text" value="<%= @spot.title %>까지의 길을 찾아드립니다." name="findway" id="findway-word" />
          <input type="image" value="" src="/assets/header_searchbox_button.png" id="findway-button" class="openMask" />
        </div>
      </div>
      <div id="spot-info-source">출처 : 한국관광공사</div>
    </div>
    <div id="show-footer">
		<%= render 'map' %>
      <div class="line-green"></div>
    </div>
    <div id="show-review">
      <%= render 'review' %>
    </div>
  </div>
  <h2>펜션</h2>
  <div id="pension-list">
    <%= render 'pension_list' %>
  </div>
</div>