<div id="must_visit_banner">
  <%= render 'must_visit_banner' %>
</div>

<div id="area_nav">
  <%= render 'area_nav' %>
</div>

<div id="sidebar">
  <%= render 'sidebar' %>
</div>

<div id="main_content">
  <h1><%= @spot.title %></h1>
  <p><%= @spot.desc %></p>
  <h2>리뷰</h2>
  <div>
    <%= render 'review' %>
  </div>
  <h2>펜션</h2>
  <div id="pension_list">
    <%= render 'pension_list' %>
  </div>
</div>