<div id="show-info" data-role="collapsible" data-content-theme="c">
  <h3><%= @spot.title %> 소개</h3>
  <p><%= @spot.description %></p>
</div>
<table id="show-btn">
  <tbody>
    <tr>
      <td class="addr-btn"><%= link_to @spot.addr, "http://maps.google.com/maps?q=#{@spot.addr}@#{@spot.latitude},#{@spot.longitude}", 'data-role' => 'button' %></td>
      <td class="phone-btn"><%= link_to raw("전화걸기<hr>#{@spot.phone}"), "tel:#{@spot.phone.gsub('-','')}", 'data-role' => 'button', 'data-theme' => 'r' %></td>
    </tr>
  </tbody>
</table>
<div class="ui-bar">
  <h4 class="ui-left"><%= @spot.title %> 인근 펜션</h4>
  <%= link_to '더보기', spot_pensions_path(@spot), 'data-icon' => 'home', :class => 'ui-right' %>
</div>
<hr class="green">
<%= render 'pension_list' %>