<h1>'<%= params[:search_input] %>' 검색 결과</h1>

<h2>지역(<%= @areas.size %>)</h2>
<ul>
<% @areas.each do |area| %>
  <li><%= link_to area.addr2, pensions_path(:addr1 => area.addr1, :addr2 => area.addr2) %></li>
<% end %>
</ul>

<h2>펜션(<%= @pensions.size %>)</h2>
<ul>
<% @pensions.each do |pension| %>
  <li><%= link_to pension.title, pension %></li>
<% end %>
</ul>

<h2>여행지(<%= @spots.size %>)</h2>
<ul>
<% @spots.each do |spot| %>
  <li><%= link_to spot.title, spot %></li>
<% end %>
</ul>

<h2>테마(<%= @themes.size %>)</h2>
<ul>
<% @themes.each do |theme| %>
  <li><%= link_to theme.title, theme_pensions_path(theme) %></li>
<% end %>
</ul>