<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @contact.title %></h1>
    <ul>
      <li>이름: <%= @contact.name %></li>
      <li>내용: <%= @contact.content %></li>
      <li>펜션이름: <%= @contact.pension_name %></li>
      <li>펜션URL: <%= @contact.pension_url %></li>
    </ul>
  </body>
</html>