<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#sidebar h3').click(function() {
      $(this).toggleClass('hide');
      $(this).next('ul').children('.toggle-list').toggleClass('hide');
    });

    $(".checkbox").click(function() {
  		if($(this).children('input').attr('checked')) {
  		  $(this).children('input').attr('checked', '');
  		} else {
  		  $(this).children('input').attr('checked', 'checked');
  		}
  		$(this).toggleClass('unchecked');
  		$(this).toggleClass('checked');
    });
  });
</script>
<div class="themes_box">
  <h3>테마</h3>
  <ul>
    <% Theme.all.each_with_index do |theme, idx| %>
      <li class="<%= cycle('odd', 'even') %><%= ' toggle-list hide' if idx > 4 %>">
        <%= link_to theme.title, theme_pensions_path(theme) %>
      </li>
    <% end %>
  </ul>
  <div class="box_footer"></div>
</div>

<div class="prices_box">
  <h3 id="prices">가격대</h3>
  <ul>
    <li class="odd">10만원 이하</li>
    <li class="even">10만원 ~ 15만원</li>
    <li class="odd">15만원 ~ 20만원</li>
    <li class="even hide">20만원 ~ 25만원</li>
  </ul>
  <div class="box_footer"></div>
</div>

<div class="facilities_box">
  <h3 id="facilities">시설</h3>
  <ul>
  <% Facility.all.each_with_index do |facility, idx| %>
    <li class="<%= cycle('odd', 'even') %><%= ' toggle-list hide' if idx > 4 %>">
      <span class="checkbox unchecked"><label><%= facility.title %></label><input type="checkbox" /></span>
    </li>
  <% end %>
  </ul>
  <div class="box_footer"></div>
</div>

<div class="must_visit_banner">
  <h3>Must Visit By Resty</h3>
  <%= image_tag 'pension_01.jpg' %>
</div>