<div id="must_visit_banner">
  <%= render 'must_visit_banner' %>
</div>

<div id="area_nav">
  <%= render 'area_nav' %>
</div>

<div id="sidebar">
  <%= render 'sidebar' %>
</div>

<div id="main_content">
  <%= content_tag :h2, "#{@theme.title} 테마의 펜션" if @theme %>
  <%= content_tag :h2, "#{@spot.title} 주변의 펜션" if @spot %>
  <div id="pension_list">
    <%= render 'pension_list' %>
  </div>
</div>