<div id="sidebar">
  <%= render 'sidebar' %>
</div>

<div id="main_content">
  <div class="header">
    <%= render 'header' %>
  </div>
  <%= content_tag :h2, "#{@theme.title} 테마의 펜션" if @theme %>
  <%= content_tag :h2, "#{@spot.title} 주변의 펜션" if @spot %>
  <div id="pension-list">
    <%= render 'pension_list' %>
  </div>
</div>