<div id="sidebar">
  <%= render 'list_sidebar' %>
</div>

<div id="main_content">
  <div class="header">
    <%= render 'header' %>
    <%= link_to image_tag('skiapp_banner_705_80.png', :id => 'banner'), 'https://market.android.com/details?id=resty.corp&feature=search_result#?t=W251bGwsMSwxLDEsInJlc3R5LmNvcnAiXQ..', :target => '_blank' %>
    <%= render 'map' %>
  </div>
  <div id="pension-list">
    <%= render 'pension_list' %>
  </div>
</div>