<div class="align-center">
  <%= image_tag "http://www.resty.co.kr" + @pension.show_img %>
</div>
<div id="show-info">
  <p>시설 : <%= @pension.facilities.split(',').join(', ') %></p>
  <p>테마 : <%= @pension.themes.collect {|x| x.title}.join(', ') %></p>
  <p>이용가격 : <%= @pension.min_price / 10000 %>만원 ~ <%= @pension.max_price / 10000%>만원</p>
</div>
<div id="show-btn" class="align-center">
  <%= link_to @pension.addr, "http://maps.google.com/maps?q=#{@pension.addr}@#{@pension.latitude},#{@pension.longitude}", 'data-role' => 'button', 'data-inline' => true, :class => 'addr-btn' %>
  <%= link_to raw("전화걸기<hr>#{@pension.mobile}"), "tel:#{@pension.mobile.gsub('-','')}", 'data-role' => 'button', 'data-inline' => true, :class => 'phone-btn' %>
  <%= link_to '펜션 홈페이지 바로가기', @pension.url, 'data-role' => 'button', 'data-icon' => 'forward' %>
</div>
<div id="pension-blog">
  <div class="ui-bar">
    블로그 이용후기
    <%= link_to '주변 펜션 더보기', nearby_pension_path(@pension), 'data-icon' => 'home' %>
  </div>
  <hr>
  <ul data-role="listview">
  <% @blog_reviews.each do |item| %>
    <li>
      <a href="<%= item.link %>">
        <h3><%= raw item.title %></h3>
        <p><%= raw item.desc %></p>
      </a>
    </li>
  <% end %>
  </ul>
  <%= paginate @blog_reviews %>
</div>