<% content_for :og_meta do  %>
  <meta property="fb:app_id"      content="267286263291604">
  <meta property="og:type"        content="resty_atp:pension">
  <meta property="og:url"         content="http://www.resty.co.kr/pensions/<%= @pension.id %>">
  <meta property="og:title"       content="<%= @pension.title %>">
  <meta property="og:description" content="<%= @pension.addr %>">
  <meta property="og:image"       content="<%= @pension.og_img %>">
<% end %>
<script type="text/javascript" charset="utf-8" src="/assets/jquery.colorbox-min.js"></script>

<div id="sidebar">
  <%= render 'show_sidebar' %>
</div>

<div id="main_content">
  <div class="header">
    <%= render 'header' %>
  </div>
  <div id="show-content">
    <div class="title">
      <h2><%= @pension.title %></h2>
      <div class="fb-like" data-href="http://www.resty.co.kr/pensions/<%= @pension.id %>" data-send="false" data-layout="button_count" data-width="120" data-show-faces="false"></div>
    </div>
    <div class="line-green"></div>
    <div class="body">
      <div class="pension-photo">
        <%= image_tag @pension.show_img %>
      </div>
      <div class="pension-detail">
        <div id="pension-info-type"><%= @pension.roomstructure %></div>
        <div id="pension-info-faci"><%= @pension.facilities.split(',').join(', ') unless @pension.facilities.blank? %></div>
        <div id="pension-info-theme"><%= @pension.themes.collect {|x| x.title}.join(', ') %></div>
        <div id="pension-info-url"><%= link_to truncate(@pension.url, :length => 50), @pension.url, :taget => '_blank' %></div>
        <div id="pension-info-start">
          <div id="findway-box">
            <input type="text" value="<%= @pension.title %>까지의 길을 찾아드립니다." name="findway" id="findway-word" onclick="this.value='';" onkeypress="if(event.keyCode==13){$('#findway-button').trigger('click');}">
            <input type="image" src="/assets/header_searchbox_button.png" id="findway-button" class="<%= 'searchByAddress' if @pension.locationx.blank? %><%= 'searchByGPS' unless @pension.locationx.blank? %>">
          </div>
        </div>
        <div id="pension-info-addr"><%= @pension.addr %></div>
        <div id="info-gps-x"><%= @pension.locationx %></div>
        <div id="info-gps-y"><%= @pension.locationy %></div>
        <div id="pension-info-price"><%= @pension.min_price / 10000 %> ~ <%= @pension.max_price / 10000 %> 만원</div>
        <div id="pension-info-phone"><%= @pension.mobile %></div>
        <%= javascript_tag "$(document).ready(function(){$('.room_btn').colorbox();})" %>
        <%= link_to content_tag(:div, '', :id => 'pension-info-room'), pension_rooms_path(@pension), :class => 'room_btn' if @pension.rooms.count > 0 %>
      </div>
      <div style="clear:both;"></div>
    </div>

    <div id="show-footer">
  		<%= render 'map' %>
      <% unless @pension.locationx.blank? or @pension.locationy.blank? %>
        <script type="text/javascript">inputMarker(<%= @pension.locationx %>, <%= @pension.locationy %>, "pension");</script>
      <% end %>
      <div class="line-green"></div>
    </div>
    <div id="show-review">
      <div id="pension-review-title"></div>
      <fb:comments href="http://www.resty.co.kr/pensions/<%= @pension.id %>" num-posts="5" width="709"></fb:comments>
      <script type="text/javascript" charset="utf-8">
        FB.Event.subscribe('comment.create', function(response) {
          $.get('/pensions/update_comments_count', {id:<%= @pension.id %>});
        });
        FB.Event.subscribe('comment.remove', function(response) {
          $.get('/pensions/update_comments_count', {id:<%= @pension.id %>, remove:true});
        });
        FB.Event.subscribe('edge.create', function(response) {
          $.get('/pensions/update_like_count', {id:<%= @pension.id %>});
        });
        FB.Event.subscribe('edge.remove', function(response) {
          $.get('/pensions/update_like_count', {id:<%= @pension.id %>, remove:true});
        });
      </script>
    </div>

    <div id="blog-review">
      <div id="blog-review-title"></div>
      <div id="blog-review-list">
        <ul>
        <% @blog_reviews.each do |item| %>
          <li>
            <%= link_to raw(truncate_html(item.title, :length => 50, :word_boundary => true)), item.link, :target => :blank %>
            <p><%= raw item.desc %></p>
          </li>
        <% end %>
        </ul>
        <%= paginate @blog_reviews %>
      </div>
    </div>
  </div>
</div>
