<% content_for :og_meta do  %>
  <meta property="fb:app_id"      content="267286263291604">
  <meta property="og:type"        content="resty_atp:pension">
  <meta property="og:url"         content="http://www.resty.co.kr/pensions/<%= @pension.id %>">
  <meta property="og:title"       content="<%= @pension.title %>">
  <meta property="og:description" content="<%= @pension.addr %>">
  <meta property="og:image"       content="<%= @pension.og_img %>">
<% end %>
<script type="text/javascript" charset="utf-8" src="/assets/jquery.colorbox-min.js"></script>

<div id="sidebar">
  <%= render 'show_sidebar' %>
</div>

<div id="main_content">
  <div class="header">
    <%= render 'crumbs' %>
    <%= link_to image_tag('skiapp_banner_705_80.png', :id => 'banner'), 'https://market.android.com/details?id=resty.corp&feature=search_result#?t=W251bGwsMSwxLDEsInJlc3R5LmNvcnAiXQ..', :target => '_blank' %>
  </div>
  <div id="show-content">
    <div class="title">
      <h2><%= @pension.title %><span style="display:none"><%= @pension.title.gsub('펜션', '팬션') %></span></h2>
      <div class="fb-like" data-href="http://www.resty.co.kr/pensions/<%= @pension.id %>" data-send="false" data-layout="button_count" data-width="120" data-show-faces="false"></div>
    </div>
    <hr class="line-green">
    <div class="body">
      <div class="pension-photo">
        <%= image_tag @pension.show_img %>
      </div>
      <div class="pension-detail">
        <div id="pension-info-addr"><%= @pension.addr %></div>
        <div id="pension-info-type"><%= @pension.roomstructure %></div>
        <div id="pension-info-price">
          <% if @pension.min_price == 0 %>
            사이트 확인 가능
          <% else %>
            <%= @pension.min_price / 10000 %> ~ <%= @pension.max_price / 10000 %> 만원
          <% end %>
        </div>
        <div id="pension-info-faci"><%= @pension.facilities.split(',').join(', ') unless @pension.facilities.blank? %></div>
        <%= content_tag :div, "#{@pension.coupon.disrate}%", :class => 'discount-mark' if @coupon %>
        <div id="pension-info-theme"><%= @pension.themes.collect {|x| x.title}.join(', ') %></div>
        <div id="pension-info-url"><%= link_to truncate(@pension.url, :length => 50), outlink_pension_path(@pension), :target => '_blank' %></div>
        <div id="pension-info-start">
          <div id="findway-box">
            <input type="text" value="<%= @pension.title %>까지의 길을 찾아드립니다." name="findway" id="findway-word" onclick="this.value='';" onkeypress="if(event.keyCode==13){$('#findway-button').trigger('click');}">
            <input type="image" src="/assets/header_searchbox_button.png" id="findway-button" class="<%= 'searchByAddress' if @pension.longitude.blank? %><%= 'searchByGPS' unless @pension.longitude.blank? %>">
          </div>
        </div>
        <div id="info-gps-x"><%= @pension.longitude %></div>
        <div id="info-gps-y"><%= @pension.latitude %></div>
        <div id="pension-info-phone"><%= @pension.mobile or "사이트 확인 가능" %></div>
        <%= javascript_tag "$(document).ready(function(){$('.room_btn').colorbox();})" %>
        <% unless @pension.room_table.blank? %>
          <%= link_to content_tag(:div, '', :id => 'pension-info-room'), @pension.room_table.url, :class => 'room_btn' %>
        <% end %>
      </div>
      <div style="clear:both;"></div>
    </div>
    
    <!-- 소셜 커머스 -->
    <% if @coupon %>
    <div id="coupon">
      <hr class="line-green">
      <div class="detail">
        <%= link_to image_tag(@coupon.image, :alt => '펜션 소셜커머스'), @coupon.link, :target => '_blank' %>
        <div class="info">
          <p><%= link_to @coupon.title, @coupon.link, :target => '_blank' %></p>
          <p class="date"><%= @coupon.start_at.to_date %> ~ <%= (@coupon.end_at-1).to_date %></p>
          <p class="price">
            <span class="org_price"><%= number_with_delimiter @coupon.org_price %>원</span>
            <span class="dis_price"><%= number_with_delimiter @coupon.dis_price %>원</span>
            <span class="provider"><%= @coupon.provider %> 진행중</span>
          </p>
        </div>
        <p class="clear"></p>
      </div>
      <hr class="line-green">
    </div>
    <% end %>

    <div id="show-footer">
  		<%= render 'map' %>
  		<hr class="line-green">
    </div>
    <div id="show-review">
      <div id="pension-review-title"></div> 
      <%#= render 'pension_reviews/index' %>
      <fb:comments href="http://www.resty.co.kr/pensions/<%= @pension.id %>" num-posts="5" width="709"></fb:comments>
      <script type="text/javascript" charset="utf-8">
        window.fbAsyncInit = function() {
          FB.Event.subscribe('comment.create', function(response) {
            $.get('/pensions/update_comments_count', {id:<%= @pension.id %>});
          });
          FB.Event.subscribe('comment.remove', function(response) {
            $.get('/pensions/update_comments_count', {id:<%= @pension.id %>, remove:true});
          });
          FB.Event.subscribe('edge.create', function(response) {
            $.get('/pensions/update_like_count', {id:<%= @pension.id %>});
          });
          FB.Event.subscribe('edge.remove', function(response) {
            $.get('/pensions/update_like_count', {id:<%= @pension.id %>, remove:true});
          });
        }
      </script>
    </div>

    <div id="blog-review">
      <%= image_tag "ajax-loader.gif", :class => 'ajax-loader' %>
    </div>
    <div id="pension-image">
      <%= image_tag "ajax-loader.gif", :class => 'ajax-loader' %>
    </div>
    <script type="text/javascript" charset="utf-8">
      $.get("<%= blog_posts_pension_path(@pension) %>");
      $.get("<%= pension_images_pension_path(@pension) %>");
    </script>
  </div>
</div>
