<div id="must_visit_banner">
  <%= render 'must_visit_banner' %>
</div>

<div id="area_nav">
  <%= render 'area_nav' %>
</div>

<div id="sidebar">
  <%= render 'sidebar' %>
</div>

<div id="main_content">
  <h1><%= @pension.title %></h1>
  <p>펜션 설명 블라블라블라...</p>
  <%= javascript_tag "$(document).ready(function(){$('.room_btn').colorbox();})" %>
  <%= link_to '객실정보', pension_rooms_path(@pension), :class => 'room_btn' if @pension.rooms.count > 0 %>

  <h2>펜션 후기</h2>
  <div>
    <%= render 'review' %>
  </div>

  <h2>블로그 후기</h2>
  <div>
    네이버
    <ul>
    <% @naver_results.each do |item| %>
      <li><%= link_to raw(item.title), item.link, :target => :blank %></li>
    <% end %>
    </ul>
    다음
    <ul>
    <% @daum_results.each do |item| %>
      <li><%= link_to raw(item.title), item.link, :target => :blank %></li>
    <% end %>
    </ul>
  </div>
</div>