<div class="crumbs">
  <%= link_to '전국', pensions_path %>
	<% if @area %>
		> <%= link_to @area.title, area_pensions_path(@area) %>
	<% end %>
	<% if @sub_area %>
		> <%= link_to @sub_area.title, sub_area_pensions_path(@sub_area) %>
	<% end %>
</div>

<div class="nav">
  <div class="addr1">
    <ul>
    <% Area.all.each do |area| %>
      <li<%= " class=selected" if @area == area %>>
        <% if params[:action] == 'show' %>
          <%= link_to_unless @area == area, area.title, area_pensions_path(area) %>
        <% else %>
          <%= link_to_unless @area == area, area.title, area_pensions_path(area, params.merge(:sub_area_id => nil, :page => nil)) %>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
  <div class="addr2">
    <% if @area %>
      <ul>
      <% @area.sub_areas.each do |sub_area| %>
        <li class="dot<%= ' selected' if @sub_area == sub_area %>">
          <% if params[:action] == 'show' %>
            <%= link_to_unless @sub_area == sub_area, sub_area.title, sub_area_pensions_path(sub_area) %>
          <% else %>
            <%= link_to_unless @sub_area == sub_area, sub_area.title, sub_area_pensions_path(sub_area, params.merge(:area_id => nil, :page => nil)) %>
          <% end %>
        </li>
      <% end %>
      </ul>
    <% end %>
  </div>
</div>

<% if @spots %>
  <div class="spots">
    <h3>주요 관광지</h3>
    <div class="spots-body">
    	<ul>
    	<% @spots.each do |spot| %>
     	<li><%= link_to_unless @spot == spot, spot.title, spot %></li>
    	<% end %>
  		</ul>
  		<ul class="next hidden"></ul>
		<ul class="prev hidden"></ul>
  	</div>
	
  </div>
<% end %>