<div class="crumbs">
  <%= link_to '전국', pensions_path %>
	<% if @area %>
		> <%= @area.title %>
	<% end %>
	<% if @sub_area %>
		> <%= @sub_area.title %>
	<% end %>
</div>

<div class="nav">
  <div class="addr1">
    <ul>
    <% Area.all.each do |area| %>
      <% if @area == area %>
        <%= content_tag :li, area.title, :class => 'selected' %>
      <% else %>
        <%= content_tag :li, link_to(area.title, area_pensions_path(area)) %>
      <% end %>
    <% end %>
    </ul>
  </div>
  <div class="addr2">
    <ul>
    <% @area.sub_areas.each do |sub_area| %>
      <% if @sub_area == sub_area %>
        <%= content_tag :li, sub_area.title, :class => 'selected' %>
      <% else %>
        <%= content_tag :li, link_to(sub_area.title, area_sub_area_pensions_path(@area, sub_area)), :class => 'dot' %>
      <% end %>
    <% end %>
    </ul>
  </div>
</div>
  
<div class="spots">
  <h3>주요 관광지</h3>
  <ul>
  <% @area.spots.each do |spot| %>
    <% if @spot == spot %>
      <%= content_tag :li, content_tag(:strong, spot.title) %>
    <% else %>
      <%= content_tag :li, link_to(spot.title, spot) %>
    <% end %>
  <% end %>
	</ul>
</div>

<div class="map">
  <div id="openCloseIdentifier"></div>
  <div id="map"></div>
  <div id="map_toggle"></div>
</div>
<div id="map_rect"></div>