<div class="themes_box">
  <h3 id="themes" class="more">테마</h3>
  <ul>
    <% Theme.all.each_with_index do |theme, idx| %>
      <li class="<%= cycle('odd', 'even') %><%= ' toggle-list hide' if idx > 4 %>">
        <%= link_to_unless params[:theme_id].to_i == theme.id, theme.title, params.merge(:theme_id => theme.id, :page => nil) %>
      </li>
    <% end %>
  </ul>
  <div class="box_footer"></div>
</div>

<div class="prices_box">
  <h3 id="prices">가격대</h3>
  <ul>
  <% PriceRange.order('min').each do |price| %>
    <li class="<%= cycle('odd', 'even') %>">
      <%= link_to_unless params[:price_id].to_i == price.id, price.to_s, params.merge(:price_id => price.id) %>
    </li>
  <% end %>
  </ul>
  <div class="box_footer"></div>
</div>

<div class="facilities_box">
  <h3 id="facilities" class="more">시설</h3>
  <ul>
  <% Facility.all.each_with_index do |facility, idx| %>
    <li class="<%= cycle('odd', 'even') %><%= ' toggle-list hide' if idx > 4 %>">
      <% if @facilities.include?(facility) %>
        <span class="checkbox checked">
          <%= link_to facility.title, remove_facility(facility.id) %>
        </span>
      <% else %>
        <span class="checkbox unchecked">
          <%= link_to facility.title, merge_facility(facility.id) %>
        </span>
      <% end %>
    </li>
  <% end %>
  </ul>
  <div class="box_footer"></div>
</div>

<div class="must_visit_banner">
  <h3>Must Visit By Resty</h3>
  <%= link_to image_tag('pension_01.jpg'), params.merge(:must_visit => true) %>
</div>