<ul data-role="listview" class="pension-list">
<% @pensions.each do |pension| %>
  <li>
    <%= image_tag "http://www.resty.co.kr#{pension.list_img}", :class => 'pension-thumbnail' %>
    <a href="<%= url_for pension %>">
      <%= content_tag :h3, pension.title %>
      <%= content_tag :p, pension.addr %>
      <% facilities = pension.facilities ? pension.facilities.split(',') : [] %>
      <%= content_tag :p, (pension.themes.collect {|x| x.title} + facilities).uniq.join(',') %>
      <%#= content_tag :span, "#{pension.like_count}", :class => 'ui-li-count' %>
    </a>
    <%#= image_tag('like_resty.png', :width => '20px', :class => 'like-count') %>
  </li>
<% end %>
</ul>