<%= form_tag '/reviews', :method => :post do %>
  <%= hidden_field_tag "review[#{params[:controller].singularize}_id]", params[:id] %>
  <%= text_area_tag 'review[content]' %>
  <% if graph %>
    <%= check_box_tag 'facebook', true, :checked => true %>facebook
  <% end %>
  <%= submit_tag "등록" %>
<% end %>

<ul id="review_list">
<% @reviews.each do |review| %>
  <li class="review">
    <%= content_tag :span, "#{time_ago_in_words(review.created_at)} 전" %>
    <%= review.content %>
    <%= link_to 'x', review_path(review, :type => params[:controller].singularize), :method => :delete %>
  </li>
<% end %>
</ul>
<%= paginate @reviews, :remote => true,
:params => {:controller => :reviews, :action => :index, :type => params[:controller]} %>