<div id="pension-review-title"></div>
<div id="pension-review-write">
  <%= form_tag '/reviews', :method => :post do %>
    <%= hidden_field_tag "review[#{params[:controller].singularize}_id]", params[:id] %>
    <div class="face">
      <img src="/assets/show_side_friend_id0000_face.png" alt="" title="김풍기" />
    </div>
    <textarea id="input_review" name="review[content]" rows="5">관광지에 대한 리뷰를 작성해주세요.</textarea>
    <div id="commit_review">
      <span class="checkbox"><label>페이스북 게시</label><input type="checkbox" name="facebook" /></span>
      <%= image_submit_tag 'show_pension_review_submit_button.png', :id => 'submit-review' %>
    </div>
  <% end %>
</div>
<div id="pension-review-list">
  <ul>
  <% @reviews.each do |review| %>
    <li>
      <div class="reply_icon"></div>
      <div class="face">
        <img src="/assets/show_side_friend_id0000_face.png" alt="" title="김풍기" />
      </div>
      <div class="content">
        <%= review.content %>
        <%= content_tag :span, "#{time_ago_in_words(review.created_at)} 전" %>
        <%= link_to 'x', review_path(review, :type => params[:controller].singularize), :method => :delete %>
      </div>
      <div class="like">좋아요</div>
    </li>
  <% end %>
  </ul>
</div>
<div id="pension-review-more"><span>21개 더보기</span></div>
<%= paginate @reviews, :remote => true,
:params => {:controller => :reviews, :action => :index, :type => params[:controller]} %>