<%= form_tag '/reviews', :method => :post do %>
  <%= hidden_field_tag "review[#{params[:controller].singularize}_id]", params[:id] %>
  <%= text_area_tag 'review[content]' %>
  <%= submit_tag "등록" %>
<% end %>

<ul>
<% @reviews.each do |review| %>
  <li><%= review.content %> <%= link_to 'x', review_path(review), :method => :delete %></li>
<% end %>
</ul>