<div class="near-pensions-box">
  <h3>근처의 다른 펜션</h3>
  <% if @near_by_pensions.length == 0 %>
    <div class="no-pensions">10km이내에 펜션이 없습니다!</div>
  <% else %>
    <ul>
    <% @near_by_pensions.each do |pension| %>
      <li>
        <table class="near-by-pensions">
          <tr>
            <td><%= link_to pension.title, pension, :class => 'name' %></td>
            <td>
              <% if pension.like_count > 0 %>
                <span class="like"><%= image_tag('like_resty.png', :width => '20px') %> <%= pension.like_count %></span>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><span title="<%= pension.addr %>"><%= pension.short_addr %></span></td>
            <td><%= link_to "#{pension.distance.round(2)}km", pension, :class => 'review' %></td>
          </tr>
        </table>
      </li>
    <% end %>
    </ul>
  <% end %>
  <div class="footer"></div>
</div>

<div class="must_visit_banner">
  <a href="<%= pensions_path(:must_visit => true) %>">
    <h3>Must Visit By Resty</h3>
    <%= image_tag 'pension_01.jpg' %>
  </a>
</div>