<div class="pensions-box">
  <h3 class="nearby"><%= link_to '더보기', nearby_pension_path(@pension) %></h3>
  <% if @near_by_pensions.length == 0 %>
    <div class="no-pensions">10km이내에 펜션이 없습니다!</div>
  <% else %>
    <ul>
    <% @near_by_pensions.each do |pension| %>
      <li>
        <%= link_to image_tag(pension.list_img, :class => 'nearby'), pension %>
        <div class="pension-info">
          <%= link_to truncate("[#{pension.sub_area.title}] #{pension.title}", :length => 13), pension %>
          <div class="distance"><%= pension.distance.round(2) %>km</div>
        </div>
      </li>
    <% end %>
    </ul>
  <% end %>
  <div class="footer"></div>
</div>

<div class="pensions-box">
  <h3 class="coupon"><%= link_to '더보기', pensions_path(:coupon => true) %></h3>
  <% if @coupons.count == 0 %>
    <div class="no-pensions">소셜커머스 진행 펜션이 없습니다!</div>
  <% else %>
    <ul>
    <% @coupons.each do |coupon| %>
      <li>
        <%= link_to image_tag(coupon.pension.list_img, :class => 'coupon'), coupon.pension %>
        <%= content_tag :div, "#{coupon.disrate}%", :class => 'discount-mark' %>
        <p class="title"><%= link_to truncate("[#{coupon.pension.sub_area.title}] #{coupon.pension.title}", :length => 20), coupon.pension %></p>
      </li>
    <% end %>
    </ul>
  <% end %>
  <div class="footer"></div>
</div>

<div class="must_visit_banner">
  <a href="<%= pensions_path(:must_visit => true) %>">
    <h3>Must Visit By Resty</h3>
    <%= image_tag 'pension_01.jpg' %>
  </a>
</div>