<% if current_user %>
  <%= form_tag (@pension.present?? pension_reviews_path(@pension) : spot_reviews_path(@spot)), :remote => true do %>
    <%#= select_tag 'review[rate]', options_for_select([1, 2, 3, 4, 5]) %>
    <%= text_area_tag 'review[content]' %>
    <%= submit_tag '저장' %>
  <% end %>

  <div id="review-notice"></div>

  <span id="reviews-count">
    <%= "#{@pension.present?? @pension.reviews_count : @spot.reviews_count}개의 리뷰가 있습니다." %>
  </span>
  <div id="reviews">
    <%= render :partial => 'reviews/review', :locals => { :list => true }, :collection => @reviews %>
    <% if @pension.present? %>
      <%= paginate @reviews, :params => {:controller => 'reviews', :action => 'index', :pension_id => @pension.id}, :remote => true %>
    <% else %>
      <%= paginate @reviews, :params => {:controller => 'reviews', :action => 'index', :spot_id => @spot.id}, :remote => true %>
    <% end %>
  </div>
<% else %>
  로그인 하셔야 리뷰를 작성할 수 있습니다. <%= link_to '로그인 하시겠습니까?', login_path %>
<% end %>