<%= link_to '리뷰쓰기', new_pension_review_path(@pension) %>
<span id="reviews-count">
  <%= "#{@pension.present?? @pension.reviews_count : @spot.reviews_count}개의 리뷰가 있습니다." %>
</span>
<div id="reviews">
  <% @reviews.each do |review| %>
    <div id="review_<%= review.id %>" class="review-item">
      <span>
        Posted <%= time_ago_in_words review.created_at %>
        <%= link_to 'Delete', (@pension.present?? pension_review_path(@pension, review) : spot_review_path(@spot, review)), :method => :delete, :remote => true %>
      </span>
      <p><b><%= review.user.email %></b></p>
      <br>
      <%= content_tag :p, review.content %>
    </div>
  <% end %>
  <% if @pension.present? %>
    <%= paginate @reviews, :params => {:controller => 'reviews', :action => 'index', :pension_id => @pension.id}, :remote => true %>
  <% else %>
    <%= paginate @reviews, :params => {:controller => 'reviews', :action => 'index', :spot_id => @spot.id}, :remote => true %>
  <% end %>
</div>