<div id="login-form">
  <h1 class="login">resty 계정 로그인</h1>
  <hr class="gray">
  <div id="error_explanation">
    <%= alert %>
    <%= link_to '(비밀번호를 잃어버리셨습니까?)', '#', :onclick => "$('#reset-input').toggle();$('#login-input').toggle();" if flash[:alert].present? %>
  </div>
  <%= form_tag user_sessions_path, :id => 'login-input' do %>
    <table>
      <tr>
        <td><%= label_tag :email, image_tag('email_label.png') %></td>
        <td><%= text_field_tag :email, params[:email], :class => 'text-input' %></td>
        <td>
          <%= check_box_tag :remember_me, 1, params[:remember_me] %>
          <%= label_tag :remember_me, '자동로그인' %>
        </td>
      </tr>
      <tr>
        <td><%= label_tag :password, image_tag('pwd_label.png') %></td>
        <td><%= password_field_tag :password, nil, :class => 'text-input' %></td>
        <td><%= image_submit_tag "login_btn.png" %></td>
      </tr>
    </table>
  <% end %>
  <%= form_tag password_resets_path, :method => :post, :id => 'reset-input' do %>
    <table>
      <tr>
        <td><%= label_tag :email, image_tag('email_label.png') %></td>
        <td><%= text_field_tag :email, params[:email], :class => 'text-input' %></td>
        <td><%= submit_tag '비밀번호 초기화' %></td>
      </tr>
    </table>
  <% end %>
  <div class="dot"></div>
  <ul id="btns">
    <li><%= link_to image_tag('fb_login_btn.png'), auth_at_provider_path(:provider => :facebook), :class => 'fb' %></li>
    <li><%= image_tag('btn_delimiter.png') %></li>
    <li><%= link_to image_tag('join_btn.png'), new_user_path %></li>
  </ul>
  <hr class="gray">
</div>