<!DOCTYPE html>
<html>
<head>
  <title>새로운 펜션 검색, 레스티</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <%= image_tag 'logo.gif', :height => '70px' %>
    <nav>
      <ul>
        <li>페이스북 로그인</li>
        <li>로그인</li>
        <li>회원가입</li>
      <ul>
    </nav>
  </div>
  <div id="content">
    <%= yield %>
  </div>
  <div id="footer">Footer</div>
</body>
</html>
