<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0rc2/jquery.mobile-1.0rc2.min.css" />
  <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.0rc2/jquery.mobile-1.0rc2.min.js"></script>
  <%= stylesheet_link_tag    "mobile/application" %>
  <%= javascript_include_tag "mobile/application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25759647-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <div data-role="page">
    <% unless params[:controller] == "main" %>
    <div id="header" data-role="header" data-theme="r">
      <% if request.headers['referer'].nil? or request.headers['referer'].split('/')[2] != request.env['HTTP_HOST'] %>
        <%= link_to 'home', root_url, 'data-icon' => 'home', 'data-transition' => 'flip' %>
      <% else %>
        <%= link_to '이전', :back, 'data-icon' => 'arrow-l', 'data-direction' => 'reverse' %>
      <% end %>
      <div class="align-center"><%= header %></div>
    	<%= link_to '검색', '#', 'data-icon' => 'search', 'data-iconpos' => 'left', :class => 'ui-btn-right', :id => 'search-btn' %>
    </div>
    <div id="search-bar" data-role="collapsible">
      <h3 style="display:none;">click</h3>
      <div>
      <%= form_tag search_result_path, :method => :post, 'data-ajax' => false, :id => 'search-form' do %>
        <%= hidden_field_tag 'longitude', nil, :id => 'longitude-hidden' %>
        <%= hidden_field_tag 'latitude', nil, :id => 'latitude-hidden' %>
        <input type="search" name="address" id="search-input" placeholder="지역,펜션,여행지명으로 검색하세요." />
      <% end %>
      </div>
    </div>
    <% end %>
    <%= yield %>
    <div id="footer" data-role="footer" data-theme="r">
      <div class="align-center">
        <%= link_to 'PC화면', root_url(:mobile => 0), 'data-role' => 'button', 'data-ajax' => false %>
        <% if current_user %>
          <%= link_to '로그아웃', :logout, 'data-role' => 'button', 'data-ajax' => false %>
        <% else %>
          <%= link_to '페이스북 로그인', auth_at_provider_path(:provider => :facebook), 'data-role' => 'button', 'data-ajax' => false %>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>
