<!DOCTYPE html>
<html>
<head>
  <title>새로운 펜션 검색, 레스티</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <%= link_to image_tag('logo.gif', :height => '70px'), root_path %>
    <nav>
      페이스북 로그인 | 로그인 | 회원가입
    </nav>
  </div>
  <div id="content">
    <%= yield %>
  </div>
  <div id="footer">Footer</div>
</body>
</html>
