<!DOCTYPE html>
<html>
<head>
  <title>새로운 펜션 검색, 레스티</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <%= link_to image_tag('logo.gif', :height => '70px'), root_path %>
    <nav>
      <% if current_user %>
        <%= image_tag graph.get_picture('me') if graph %>
        <%= link_to 'Edit Profile', edit_user_path(current_user) unless graph %> |
        <%= link_to 'Logout', :logout %>
      <% else %>
        <%= link_to 'Register', new_user_path %> |
        <%= link_to 'Login', :login %> |
        <%= link_to 'Login with Facebook', auth_at_provider_path(:provider => :facebook) %>
      <% end %>
    </nav>
    <span id="search_form">
      <%= form_tag search_result_path do %>
        <%= text_field_tag 'search_input' %>
        <%= hidden_field_tag 'search_class' %>
        <%= hidden_field_tag 'search_id' %>
        <%= submit_tag 'search' %>
      <% end %>
    </span>
  </div>
  <div id="content">
    <%= yield %>
  </div>
  <div id="footer">
    <%= link_to '회사소개', page_path('about') %> |
    <%= link_to '이용약관', page_path('terms') %> |
    <%= link_to '개인정보취급방침', page_path('privacy') %> |
    <%= link_to '제휴문의', page_path('withus') %>
  </div>
</body>
</html>
