<!DOCTYPE html>
<html>
<head>
  <title>새로운 펜션 검색, 레스티</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <%= link_to image_tag('logo.gif', :height => '70px'), root_path %>
    <nav>
      <% if current_user %>
        <%= image_tag graph.get_picture('me') if graph %>
        <%= link_to 'Edit Profile', edit_user_path(current_user) unless graph %> |
        <%= link_to 'Logout', :logout %>
      <% else %>
        <%= link_to 'Register', new_user_path %> |
        <%= link_to 'Login', :login %> |
        <%= link_to 'Login with Facebook', auth_at_provider_path(:provider => :facebook) %>
      <% end %>
    </nav>
  </div>
  <div id="content">
    <%= yield %>
  </div>
  <div id="footer">Footer</div>
</body>
</html>
